<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="styledropdown.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="dropdown">
        <div class="select">
            <span class="selected">Exercises</span>
            <div class="caret"></div>
        </div>
        <ul class="menu">
            <li class="active">Dumbbell Incline Benchpress</li>
            <li>Benchpress</li>
            <li>Dumbbell Benchpress</li>
            <li>Decline Benchpress</li>
            <li>Incline Benchpress</li>
            <li>Barebell Benchpress</li>
        </ul>
    </div>
    <div class="dropdown">
        <div class="select">
            <span class="selected">Sets</span>
            <div class="caret"></div>
        </div>
        <ul class="menu">
            <li class="active">1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
            <li>6</li>
        </ul>
    </div>
    <div class="dropdown">
        <div class="select">
            <span class="selected">Weight</span>
            <div class="caret"></div>
        </div>
        <ul class="menu">
            <li class="active">15lbs</li>
            <li>20lbs</li>
            <li>30lbs</li>
            <li>40lbs</li>
            <li>50lbs</li>
            <li>60lbs</li>
        </ul>
    </div>
    <div class="dropdown">
        <div class="select">
            <span class="selected">Reps</span>
            <div class="caret"></div>
        </div>
        <ul class="menu">
            <li class="active">1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
            <li>6</li>
        </ul>
    </div>
    <script src="dropdown.js"></script>
</body>
</html>