<link rel="stylesheet" href="stylefooter.css">
<body>
    <div class="box">
        <p>
            While this new entry still contains lore loosely tying it to the original, 
            2023's Lords of the Fallen is completely rebuilt, committing to a much darker 
            fantasy world and offering stronger RPG elements. The flow of combat that 
            bogged down the first game is gone. In its place is a fine-tuned rendition of 
            that familiar heavy and consequential style of combat where every move is a 
            risk-reward scenario and dodge rolls are your best friend. It's responsive and 
            relatively fast-paced--and from the boss fights and enemy encounters I 
            experienced, the process of understanding attack patterns and exploiting 
            opportunities while managing stamina felt right.
        </p>
    </div>
    <div class="box">
        <p>
            While this new entry still contains lore loosely tying it to the original, 
            2023's Lords of the Fallen is completely rebuilt, committing to a much darker 
            fantasy world and offering stronger RPG elements. The flow of combat that 
            bogged down the first game is gone. In its place is a fine-tuned rendition of 
            that familiar heavy and consequential style of combat where every move is a 
            risk-reward scenario and dodge rolls are your best friend. It's responsive and 
            relatively fast-paced--and from the boss fights and enemy encounters I 
            experienced, the process of understanding attack patterns and exploiting 
            opportunities while managing stamina felt right.
        </p>
    </div>
    <div class="box">
        <p>
            While this new entry still contains lore loosely tying it to the original, 
            2023's Lords of the Fallen is completely rebuilt, committing to a much darker 
            fantasy world and offering stronger RPG elements. The flow of combat that 
            bogged down the first game is gone. In its place is a fine-tuned rendition of 
            that familiar heavy and consequential style of combat where every move is a 
            risk-reward scenario and dodge rolls are your best friend. It's responsive and 
            relatively fast-paced--and from the boss fights and enemy encounters I 
            experienced, the process of understanding attack patterns and exploiting 
            opportunities while managing stamina felt right.
        </p>
    </div>
</body>
<footer class="footer">
    <div class="container">
            <div class="footer-col">
               <h4>company</h4>
                    <li><a href="">about us</a></li>
                    <li><a href="">our services</a></li>
                    <li><a href="#">privacy policies</a></li>
                    <li><a href="">affiliate program</a></li>
            </div>
            <div class="footer-col">
                <h4>get help</h4>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">shipping</a></li>
                    <li><a href="#">returns</a></li>
                    <li><a href="#">order status</a></li>
                    <li><a href="#">payment options</a></li>
             </div>
             <div class="footer-col">
                <h4>online shop</h4>
                    <li><a href="#">watch</a></li>
                    <li><a href="">bag</a></li>
                    <li><a href="#">shoes</a></li>
                    <li><a href="">dress</a></li>
             </div>
             <div class="footer-col">
                <h4>whatever</h4>
                    <li><a href="">about us</a></li>
                    <li><a href="">our services</a></li>
                    <li><a href="#">privacy policies</a></li>
                    <li><a href="">affiliate program</a></li>
             </div>
    </div>
</footer>